<div class="row">
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Revisar Entrada Proveedor</h5>
                <h3 *ngIf="entrada.kg !== undefined">Kilo Entrante: {{entrada.kg}}</h3>
            </div>
            <div class="card-body">
                <form  autocomplete="off" [formGroup]="formEntrada">
                    <div class="row">
                        <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>Bueno</label>
                                <input type="number" class="form-control" formControlName="bueno" placeholder="Bueno">
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Malo</label>
                                <input type="number" class="form-control" formControlName="malo" placeholder="Malo">
                            </div>
                        </div>  
                        <div class="col-md-2">
                            <button type="button" (click)="revisarEntrada()" class="btn btn-success"><i class="nc-icon nc-check-2"></i>Revisar</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" (click)="desmarcar()" class="btn btn-danger"><i class="nc-icon nc-simple-delete"></i>Desmarcar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>