<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Estadisticas</h5>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 pr-1">
                            <div class="form-group">
                                <label>Proveedor</label>
                                <input type="text" class="form-control" autocomplete="off" (change)="buscarContactoEstricto()" [(ngModel)]="filtro.proveedor" (keyup)="buscarProveedorInput($event)" name="proveedor" type="text" list="proveedor" />
                                <datalist id="proveedor">
                                    <ng-container *ngFor="let proveedor of proveedores">
                                        <option value="{{proveedor.nombre}}">{{proveedor.nombre}}</option>
                                    </ng-container>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-2 pr-1">
                            <div class="form-group">
                                <label>Producto</label>
                                <input type="text" class="form-control" autocomplete="off" (change)="buscarProductoEstricto()" [(ngModel)]="filtro.producto" (keyup)="buscarProductoInput($event)" name="producto" type="text" list="producto" />
                                <datalist id="producto">
                                    <ng-container *ngFor="let producto of productos">
                                        <option value="{{producto.nombre}}">{{producto.nombre}}</option>
                                    </ng-container>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-2 pr-1">
                            <div class="form-group">
                                <label>Inicio</label>
                                <input class="form-control" type="date" [(ngModel)]="filtro.fechaUno" name="inicio">
                            </div>
                        </div>
                        <div class="col-md-2 pr-1">
                            <div class="form-group">
                                <label>Fin</label>
                                <input class="form-control" type="date" [(ngModel)]="filtro.fechaDos" name="fin">
                            </div>
                        </div>
                        <div class="col-md-2 pr-1">
                            <button type="button" class="btn btn-warning btn-sm" (click)="filtrar()"><i class="nc-icon nc-zoom-split"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h5 class="card-title">Porcentajes</h5>
                                    <p class="card-category">Bueno: {{porcentajeBueno | percent}} | Malo: {{porcentajeMalo | percent}}</p>
                                </div>
                                <div class="card-body ">
                                    <canvas id="chartEmail"></canvas>
                                </div>
                                <div class="card-footer ">
                                    <div class="legend">
                                        <i class="fa fa-circle text-primary"></i> Tienda
                                        <i class="fa fa-circle text-danger"></i> Merma
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h5 class="card-title"></h5>
                                </div>
                                <div class="card-body ">
                                    <div class="pull-left" >
                                        <ul style="list-style:none;">
                                            <li *ngIf="primeraFecha != undefined && ultimaFecha != undefined">
                                                <p>Recepciones de entre el <strong>{{ primeraFecha | date: fullDate}}</strong> y el <strong>{{ ultimaFecha | date: fullDate}}</strong> </p>
                                            </li>
                                            <li>
                                                <p>
                                                    Entradas Totales:
                                                    <ng-container *ngIf="entradasProveedor != undefined">
                                                        <strong>{{ entradasProveedor.length }}</strong>
                                                    </ng-container> 
                                                </p>
                                            </li>
                                            <li>
                                                <i class="fa fa-circle text-primary"></i> Enviado a tienda: <strong>{{bueno}}</strong> Kg
                                            </li>
                                            <li>
                                                <i class="fa fa-circle text-danger"></i> Merma: <strong>{{malo}}</strong> Kg
                                            </li>
                                            <li>
                                                <i class="fa fa-circle text-success"></i> Total: <strong>{{total}}</strong> Kg
                                            </li>
                                            <li>
                                                <i class="fa fa-circle text-success"></i> Dinero invertido: <strong>{{dineroInvertido | currency: 'USD' | lowercase}}</strong>
                                            </li>
                                            <li>
                                                <i class="fa fa-circle text-success"></i> Dinero perdido en mermas: <strong>{{dineroPerdido | currency: 'USD' | lowercase}}</strong>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
    </div>
</div>