
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="salir()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form autocomplete="off" (ngSubmit)="buscarProveedor(form)" #form="ngForm">
                <div class="row">
                    <div class="col-md-2 pr-1">
                        <div class="form-group">
                            <label>Proveedor</label>
                            <input type="text" class="form-control" [(ngModel)]="filtro.proveedor" (keyup)="buscarProveedorInput($event)" name="proveedor" type="text" list="proveedor" />
                            <datalist id="proveedor">
                                <ng-container *ngFor="let proveedor of proveedores">
                                    <option value="{{proveedor.nombre}}">{{proveedor.nombre}}</option>
                                </ng-container>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-md-2 pr-1">
                        <div class="form-group">
                            <label>Producto</label>
                            <input type="text" class="form-control" [(ngModel)]="filtro.producto" (keyup)="buscarProductoInput($event)" name="producto" type="text" list="producto" />
                            <datalist id="producto">
                                <ng-container *ngFor="let producto of productos">
                                    <option value="{{producto.nombre}}">{{producto.nombre}}</option>
                                </ng-container>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-md-2- pr-1">
                        <div class="form-group">
                            <label>Inicio</label>
                            <input class="form-control" type="date" [(ngModel)]="filtro.fechaUno" name="inicio">
                        </div>
                    </div>
                    <div class="col-md-2- pr-1">
                        <div class="form-group">
                            <label>Fin</label>
                            <input class="form-control" type="date" [(ngModel)]="filtro.fechaDos" name="fin">
                        </div>
                    </div>
                </div>
          </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="filtrar()">Save</button>
      </div>
