<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Entradas</h5>
        </div>
        <div class="card-header">
            <h4 class="card-title">Ordenes de compra</h4>
            <ng-template #content let-modal>
              <app-modal-proveedor [closeModal]="modalService"></app-modal-proveedor>
            </ng-template>
          <button class="btn btn-outline-primary" (click)="open(content)">Buscar Proveedor</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary" >
                  <th>
                    Código
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Total
                  </th>
                  <th>
                    Cantidad
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let orden of ordenes" (click)="seleccionarOrden(orden.id)" style="cursor:pointer;">
                    <ng-container (click)="seleccionarOrden(orden.id)">
                      <td>
                          {{ orden.id }}
                      </td>
                      <td>
                          {{ orden.provider.name }}
                      </td>
                      <td>
                          $ {{ orden.total }}
                      </td>
                      <td>                        
                        <span class="badge badge-info">{{orden.purchases.items.length}}</span>
                      </td>
                    </ng-container>
                    
                  </tr>
                </tbody>
              </table>

              <ngb-tabset [destroyOnHide]="false">
                <ngb-tab title="Entradas">
                  <ng-template ngbTabContent>
                    <p>Entradas</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Ordenes">
                  <ng-template ngbTabContent>
                    <p>Ordenes</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Bodega">
                  <ng-template ngbTabContent>
                    <p>Bodega</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              
            </div>
          </div>
      </div>
    </div>
  </div>
