
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-header">
            <h5 class="card-title">Editar Orden de Compra</h5>
            <h5>{{orden.ordenCompra}}</h5>
            </div>
            <div class="card-body">
            <form  autocomplete="off">
                <div class="row">
                    <div class="col-md-3 pr-1">
                        <div class="form-group">
                        <label>Proveedor</label>
                        <input type="text" class="form-control" 
                        [(ngModel)]="orden.proveedor" 
                        name="proveedor" 
                        (keyup)="buscarProveedorInput($event)" (blur)="comprobarProveedor(orden.proveedor)" 
                        [attr.placeholder]="orden.proveedor"  
                        list="proveedor">
                            <datalist id="proveedor">
                                <ng-container *ngFor="let proveedor of proveedores">
                                    <option value="{{proveedor.nombre}}">{{proveedor.nombre}}</option>
                                </ng-container>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-md-3 px-1">
                        <div class="form-group">
                        <label>Fecha</label>
                        <input type="date" class="form-control" name="fecha" [(ngModel)]="orden.fecha" [attr.placeholder]="orden.fecha">
                        
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <button type="button" (click)="crearEntrada()" class="btn btn-success btn-sm">Listo <i class="nc-icon nc-check-2"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>#</th>
                                <th>
                                    <button type="button" (click)="anadirFila()" class="btn btn-primary"><i class="nc-icon nc-simple-add"></i> producto</button>
                                </th>
                                <th>kg</th>
                                <th>borrar</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of orden.productos; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <input type="text" class="form-control"  
                                        [(ngModel)]="producto.nombre" 
                                        [name]="producto.nombre" 
                                        [ngModelOptions]="{standalone: true}"
                                        [attr.placeholder]="producto.nombre" 
                                        (keyup)="buscarProductoInput($event)" (blur)="comprobarProducto(producto.nombre, i)"
                                        list="producto">
                                        <datalist id="producto">
                                            <ng-container *ngFor="let producto of productos">
                                                <option value="{{producto.nombre}}">{{producto.nombre}}</option>
                                            </ng-container>
                                        </datalist>
                                    </td>
                                    <td>
                                        <input type="number"
                                        class="form-control"  
                                        [(ngModel)]=producto.kg
                                        [name]="producto.kg" 
                                        [ngModelOptions]="{standalone: true}"
                                        [attr.placeholder]="producto.kg">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarProducto(i)"><i class="nc-icon nc-simple-remove"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>