

<div class="row">
    <div class="col-md-12">
      <app-pesaje *ngIf="producto !== undefined" [producto]="producto" (cancelar)="cancelar($event)" (afirmar)="afirmar($event)"></app-pesaje>
      <div *ngIf="orden !== undefined && producto === undefined" class="card">
        <div class="card-header">
          <h5 class="card-title">Entradas</h5>
        </div>
        
        <div class="card-header">
            <h4 class="card-title">Orden de Compra: {{orden.id}}</h4>
            <div class="row">
              <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <p>Nombre: {{orden.provider.name}}</p>
                  </div>
              </div>
              <div class="col-md-2">
                  <input  type="text" class="form-control" [(ngModel)]="SKU">
              </div>
              <div class="col-md-1">
                <button class="btn btn-success form-control  btn-sm" (click)="agregarProducto()"><i class="nc-icon nc-simple-add"></i></button>
              </div>
              <div class="col-md-2">
                <button class="btn btn-warning form-control btn-sm" (click)="reiniciar()"><i class="nc-icon nc-refresh-69"></i> Reiniciar</button>
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary form-control btn-sm" (click)="facturarProveedor()">Listo</button>
              </div>
            </div>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="table-responsive">
                <table class="table" *ngIf="orden !== undefined">
                  <thead class=" text-primary">
                    <th>
                      Nombre
                    </th>
                    <th>
                      Cantidad Kg
                    </th>
                    <th>
                      Precio
                    </th>
                    <th>
                      Accion
                    </th>
                  </thead>
                  <tbody >
                    <ng-container *ngFor="let producto of orden.purchases.items; let i = index;">
                      <tr  [ngClass]="{productoConfirmado : orden.purchases.items[i].status == true}">
                        <td>
                          {{orden.purchases.items[i].name}}
                        </td>
                        <td>
                          <input type="number" 
                          class="form-control"
                          placeholder="Cantidad"
                          [(ngModel)]="orden.purchases.items[i].quantity">
                        </td>
                        <td>
                          <input type="number" 
                          class="form-control"
                          placeholder="Precio"
                          [(ngModel)]="orden.purchases.items[i].total">
                        </td>
                        <td>
                          <button *ngIf="orden.purchases.items[i].status === false" class="btn btn-success  btn-sm" (click)="directo(i)"><i class="nc-icon nc-send"></i></button>
                          <button *ngIf="orden.purchases.items[i].status === false" class="btn btn-primary  btn-sm" (click)="seleccionarProducto(orden.purchases.items[i], i)"><i class="nc-icon nc-share-66"></i></button>
                          <button *ngIf="orden.purchases.items[i].status === true"  class="btn btn-warning  btn-sm" (click)="deshacer(i)"><i class="nc-icon nc-minimal-right"></i></button>
                          <button *ngIf="orden.purchases.items[i].status === false" class="btn btn-warning  btn-sm" (click)="agregar(orden.purchases.items[i], i)"><i class="nc-icon nc-single-copy-04"></i></button>
                          <button *ngIf="orden.purchases.items[i].status === false" class="btn btn-danger   btn-sm" (click)="eliminar(i)"><i class="nc-icon nc-simple-remove"></i></button>
                          <!-- <button *ngIf="orden.purchases.items[i].status === false" class="btn btn-danger   btn-sm" (click)="eliminar(i)"><i class="nc-icon nc-simple-remove"></i></button> -->
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
