
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Buscar Proveedor</h4>
      <button type="button" class="close" aria-label="Close" (click)="salir()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" (ngSubmit)="buscarProveedor(form)" #form="ngForm">
            <div class="row">
                <div class="col-md-4 pr-1">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre" ngModel name="idProveedor">
                    </div>
                </div>
                <div class="col-md-2 pr-1">
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="proveedores !== undefined" class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <th>
                        Código
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Acción
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let proveedor of proveedores">
                        <td>
                            {{ proveedor.id }}
                        </td>
                        <td>
                            {{ proveedor.name }}
                        </td>
                        <td><button class="btn btn-success" (click)="seleccionarProveedor(proveedor.id, proveedor.name)">Seleccionar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="salir()">Save</button>
    </div>
