<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Entradas</h5>
        </div>
        <div class="card-header">
            <h4 class="card-title">Facturar Proveedor</h4>
            <div class="row">
              <div class="col-md-1 pr-1">
                  <div class="form-group">
                    <p>ID: {{proveedor.id}}</p>
                  </div>
              </div>
              <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <p>Nombre: {{proveedor.name}}</p>
                  </div>
              </div>
            </div>
            <form autocomplete="off" (ngSubmit)="buscarProductoNombre(formId)" #formId="ngForm">
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="ID" ngModel name="idProducto">
                        </div>
                    </div>
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
            <form autocomplete="off" (ngSubmit)="buscarProductoNombre(formNombre)" #formNombre="ngForm">
              <div class="row">
                  <div class="col-md-4 pr-1">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Producto" ngModel name="nombreProducto">
                      </div>
                  </div>
                  <div class="col-md-4 pr-1">
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Buscar</button>
                      </div>
                  </div>
              </div>
          </form>
            
          </div>
          <div class="card-body">
            <div class="col-md-6">
              <div *ngIf="productos !== undefined" class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Código
                      </th>
                      <th>
                        Nombre
                      </th>
                      <th>
                        Acción
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producto of productos; let i = index;">
                        <td>
                          <input type="text" 
                          class="form-control"
                          placeholder="Ref"
                          [(ngModel)]="productos[i].reference"disabled>
                        </td>
                        <td>
                          <input type="text" 
                          class="form-control"
                          placeholder="Nombre"
                          [(ngModel)]="productos[i].name" disabled>
                        </td>
                        <td><button class="btn btn-success" (click)="seleccionarOrden()"><i class="nc-icon nc-share-66"></i></button>
                          <button class="btn btn-primary" (click)="seleccionarOrden()"><i class="nc-icon nc-minimal-right"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>