
<div class="card-header">
    <h4 class="card-title">Producto: {{producto.reference}} - {{producto.name}}</h4>
    <h4 class="card-title">Cantidad esperada: {{producto.quantity}}</h4>
    <div class="row">
      <div class="col-md-4 pr-1">
          <div class="form-group">
              <button (click)="cerrarBascula()" class="btn btn-danger">Deshacer</button>
          </div>
      </div>
    </div>
    <form [formGroup]="formEntrada" class="form-material">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-6">
                    
                    <label class="control-label">Kg/C</label>
                    <div class="form-group">
                        <label class="switchBtn">
                            <input type="checkbox"
                            name="CoKg"
                            formControlName="CxKg" 
                            class="form-control" >
                            <div class="slide round">On</div>
                        </label>
                    </div>
                </div>
                <!-- <div class="col-md-2 col-3">
                    <label class="control-label">Cajas</label>
                    <div class="form-group">
                        <label class="switchBtn">
                            <input type="checkbox" class="form-control" >
                            <div class="slide round">On</div>
                        </label>
                    </div>
                </div> -->
                <div class="col-md-2 col-6">
                    <div class="form-group">
                        <label>Cajas</label>
                        <input type="number" class="form-control" 
                        placeholder="Cajas"
                        formControlName="cajas"
                        name="cajas">
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="form-group">
                        <label>Tarima</label>
                        <input type="number" class="form-control" 
                        placeholder="Peso"
                        formControlName="pesoTarima"
                        name="pesoTarima">
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="form-group">
                        <label>Bascula</label>
                        <input type="number" class="form-control" 
                        placeholder="Peso"
                        formControlName="pesoBascula"
                        name="pesoBascula">
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="form-group">
                        <label>Peso Caja</label>
                        <input type="number" class="form-control" 
                        placeholder="Peso"
                        formControlName="pesoCaja"
                        name="pesoBascula">
                    </div>
                </div>
                
                <div class="col-md-2 col-4">
                    
                    <div class="form-group">
                        <label >$ Kg</label>
                        <label >$ C</label>
                        <input type="number" class="form-control" 
                        placeholder="$"
                        formControlName="pago"
                        name="pago">
                    </div>
    
                </div>
            </div>
            <div class="row">
                
                <!-- <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label>Tipo</label>
                        <input type="number" class="form-control" 
                        placeholder="Tipo"
                        name="pesoCaja">
                    </div>
                </div> -->
                
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="form-group">
                        <label>Real Caja</label>
                        <input type="number" class="form-control" 
                        placeholder="Peso"
                        value="{{pesoPorCaja}}"
                        disabled>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label>Esperado Caja</label>
                        <input type="number" class="form-control" 
                        placeholder="Peso"
                        value="{{esperadoCaja}}"
                        name="pesoEsperado"
                        disabled>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label>Diferencia</label>
                        <input type="number" class="form-control" 
                        placeholder="Tipo"
                        value="{{diferencia}}"
                        disabled>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label>Destarado</label>
                        <input type="number" class="form-control" 
                        placeholder="Destarado"
                        value="{{destarado}}"
                        disabled>
                    </div>
                </div>                
                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label>$ Total</label>
                        <input
                        type="number" class="form-control" 
                        placeholder="$"
                        value="{{pagoTotal}}"
                        disabled>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <label></label>
                    <div class="form-group">
                        <button (click)="enviarProducto()" class="btn btn-success"><i class="nc-icon nc-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
</div>