
<div class=" mt-2 mb-2">
    <button class="btn btn-success btn-sm" (click)="crearOrden()"><i class="nc-icon nc-simple-add"></i> Agregar</button>
    <button class="btn btn-success btn-sm" (click)="cambiarVista(true)"><i class="nc-icon nc-layout-11"></i></button>
    <button class="btn btn-success btn-sm" (click)="cambiarVista(false)"><i class="nc-icon nc-bullet-list-67"></i></button>
</div>   
<div class="table-responsive">
    <app-ordenes-fecha *ngIf="banderaVista"></app-ordenes-fecha>
    <app-ordenes-tabla *ngIf="!banderaVista"></app-ordenes-tabla>
</div>

