
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Cajas</h5>
      </div>
      <div class="card-header">
        <ng-template #content let-modal>
            <app-modal-cajas 
            [closeModal]="modalService"
            [caja]="caja"></app-modal-cajas>
        </ng-template>
        <button class="btn btn-success btn-sm" (click)="agregarCaja(content)"><i class="nc-icon nc-simple-add"></i></button>
        <button class="btn btn-primary btn-sm" (click)="actualizarCaja(content)"><i class="nc-icon nc-minimal-up"></i></button>
        <button class="btn btn-danger btn-sm" (click)="borrarCaja()"><i class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary" >
              <th>
                Nombre
              </th>
              <th>
                Precio
              </th>
              <th>
                Peso
              </th>
              <th>
                Inventario
              </th>
              <th>
                Rotos
              </th>
              <th>
                Perdidos
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let caja of cajas" (click)="seleccionarCaja(caja)" style="cursor:pointer;">
                <td>
                    {{ caja.nombre }}
                </td>
                <td>
                    {{ caja.precio }}
                </td>
                <td>
                    {{ caja.peso }}
                </td>
                <td>
                    {{ caja.inventario }}
                </td>
                <td>
                    {{ caja.rotas }}
                </td>
                <td>
                    {{ caja.perdidas }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

