<div class="card">
    <div class="card-header">
      <h5 class="card-title">Nueva Entrada de Cajas</h5>
    </div>
    <div class="card-header">
        <form  autocomplete="off">
            <div class="row">
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Chofer</label>
                        <select  class="form-control" ngModel="chofer" placeholder="Departamento" name="chofer">
                            <ng-container *ngFor="let chofer of choferes">
                                <option value="{{chofer.uid}}">{{chofer.nombre}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Copiloto</label>
                        <select  class="form-control" ngModel="copiloto" placeholder="Puesto" name="copiloto">
                            <ng-container *ngFor="let copiloto of copilotos">
                                <option value="{{copiloto.uid}}">{{copiloto.nombre}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <button class="btn btn-success" (click)="crearEntradaCajas()"><i class="nc-icon nc-simple-add"></i> agregar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary" >
            <th>
                Caja
            </th>
            <th>
                Cantidad
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let caja of cajas; let i = index;">
              <td>
                  {{ caja.nombre }}
              </td>
              <td>
                  <input type="text" [(ngModel)]="cajas[i].caja" class="form-control"  placeholder="Cantidad">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>