
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Departamentos</h5>
        <button class="btn btn-success  btn-sm" (click)="modalDepartamento(content)"><i class="nc-icon nc-simple-add"></i></button>
        <ng-template #content let-modal>
          <app-modal-departamentos [closeModal]="modalService" [idDepartamento]="idDepartamento" [i]="i" 
          (devolverDepartamentoAgregar)="agregarDepartamento($event)" 
          (devolverDepartamentoActualizar)="actualizarDepartamento($event)"></app-modal-departamentos>
        </ng-template>
      </div>
      <div class="card-body ">
        <table class="table">
          <thead class=" text-primary" >
            <th>
              Departamento
            </th>
            <th>
              Accion
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let departamento of departamentos; let i = index;">
              
              <td>
                {{ departamento.nombre }}
              </td>  
              <td>
                <button class="btn btn-primary  btn-sm" (click)="editarDepartamento(content,departamento.uid, i)"><i class="nc-icon nc-ruler-pencil"></i></button>
                <button class="btn btn-danger  btn-sm" (click)="borrarDepartamento(departamento.uid, i)"><i class="nc-icon nc-simple-remove"></i></button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
